<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>StudySphere | Materials</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/resource.css') }}">
</head>

<body>
  <header class="top-header">
    <h2>📘 Select Your Branch</h2>
    <a href="/resource" class="back-btn">⟵ Back</a>
  </header>

  <section class="resource-container">

    <div class="resource-card">
      <h3>BCA</h3>
      <p>Computer Applications</p>
      <a href="/materials/bca" class="view-btn">Open</a>
    </div>

    <div class="resource-card">
      <h3>CSE</h3>
      <p>Computer Science Engineering</p>
      <a href="/materials/cse" class="view-btn">Open</a>
    </div>

    <div class="resource-card">
      <h3>BBA</h3>
      <p>Business Administration</p>
      <a href="/materials/bba" class="view-btn">Open</a>
    </div>

    <div class="resource-card">
      <h3>B.Com</h3>
      <p>Commerce Stream</p>
      <a href="/materials/bcom" class="view-btn">Open</a>
    </div>

    <div class="resource-card">
      <h3>MCA</h3>
      <p>Masters in Computer Applications</p>
      <a href="/materials/mca" class="view-btn">Open</a>
    </div>

  </section>
</body>
</html>
