<!DOCTYPE html>
<html>
<head>
    <title>{{ branch | upper }} - Semester {{ sem }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resource.css') }}">
</head>
<body>

<header class="top-header">
  <h2>{{ branch | upper }} - Semester {{ sem }}</h2>
<a href="javascript:history.back()" class="back-btn">⟵ Back</a>
</header>

<section class="resource-container">

  {% if pdfs %}
    {% for pdf in pdfs %}
      <div class="resource-card">
        <h3>{{ pdf.title }}</h3>

        <iframe
          src="{{ pdf.file_url }}"
          width="100%"
          height="600"
          style="border:none;">
        </iframe>

      </div>
    {% endfor %}
  {% else %}
   
  {% endif %}

</section>

</body>
</html>
