<!DOCTYPE html>
<html>
<head>
  <title>{{ branch | upper }} Papers</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/resource.css') }}">
</head>

<body>
<header class="top-header">
  <h2>📄 {{ branch | upper }} – Semesters</h2>
  <a href="/papers" class="back-btn">⟵ Back</a>
</header>

<section class="resource-container">
  {% for sem in range(1,7) %}
  <div class="resource-card">
    <h3>Semester {{ sem }}</h3>
    <a href="/papers/{{ branch }}/{{ sem }}" class="view-btn">Open</a>
  </div>
  {% endfor %}
</section>
</body>
</html>
